<div class="txlogin-greeting">
    <f:format.raw>
        <f:if condition="{user.name}">
            <f:then>
                <f:translate key="{locallang}:login.authview.greeting"
                    arguments="{
                        0: '<strong>{user.name}</strong>'
                    }" />
            </f:then>
            <f:else>
                <f:translate key="{locallang}:login.authview.greeting"
                    arguments="{
                        0: '<strong>{user.{settings.usernameField}}</strong>'
                    }" />
            </f:else>
        </f:if>
    </f:format.raw>

    <br />

    <f:link.action action="submitLogout">
        <i class="fa fas fa-sign-out"></i> <f:translate key="{locallang}:login.authview.logout" />
    </f:link.action>
</div>
