<div class="txlogin-userdetails">
    <h3>
        <f:translate
            key="{locallang}:login.authview.greeting"
            arguments="{
                0: '<strong>{user.name}</strong>'
            }" />
    </h3>
    <p>
        <f:translate key="{locallang}:login.authview.userdetails.welcome" />
    </p>
    <p>
        <strong><f:translate key="{locallang}:login.form.username" /></strong>: {user.username}<br/>
        <strong><f:translate key="{locallang}:login.form.email" /></strong>: {user.email}<br/>
        <f:for each="{user.image}" as="image">
            <f:image image="{image}" class="img-circle rounded-circle" width="64c" height="64c" />
        </f:for>
    </p>
    <f:link.action action="submitLogout" class="btn btn-primary">
        <i class="fa fas fa-sign-out"></i> <f:translate key="{locallang}:login.authview.logout" />
    </f:link.action>
</div>
