<f:security.ifAuthenticated>
    <f:then>
        <f:switch expression="{settings.authenticatedView}">
            <f:case value="greetings">
                <f:render partial="Login/AuthView/Greeting" arguments="{_all}" />
            </f:case>
            <f:case value="details">
                <f:render partial="Login/AuthView/UserDetails" arguments="{_all}" />
            </f:case>
        </f:switch>
    </f:then>
    <f:else>
        <h2>Login</h2>

        <f:form action="submitLogin">
            <div class="form-group">
                <f:switch expression="{settings.usernameField}">
                    <f:case value="username">
                        <label for="tx_login_username">Username</label>
                        <f:form.textfield name="user[username]" type="text" id="tx_login_username" placeholder="Username"
                            class="form-control {f:if(condition: '{error}', then: 'is-invalid')}" />
                    </f:case>
                    <f:case value="email">
                        <label for="tx_login_email">E-Mail</label>
                        <f:form.textfield name="user[username]" type="text" id="tx_login_email" placeholder="E-Mail"
                            class="form-control {f:if(condition: '{error}', then: 'is-invalid')}" />
                    </f:case>
                    <f:defaultCase>
                        Unknown username field: "<strong>{settings.usernameField}</strong>"
                    </f:defaultCase>
                </f:switch>
            </div>

            <div class="form-group">
                <label for="tx_login_password">Password</label>
                <f:form.textfield name="user[password]" type="password" id="tx_login_password" placeholder="Password"
                    class="form-control {f:if(condition: '{error}', then: 'is-invalid')}" />
                <f:if condition="{error}">
                    <div class="invalid-feedback">
                        {error} <!-- TODO: add translation stuff and show error message -->
                    </div>
                </f:if>
            </div>

            <f:form.button type="submit" class="btn btn-primary">Login</f:form.button>
        </f:form>
    </f:else>
</f:security.ifAuthenticated>
